{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true
  },
  "rules": {
    "indent": ["error", 2],
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "prefer-rest-params": "off",
    "no-bitwise": "off",
    "no-plusplus": "off",
    "no-use-before-define": "off"
  }
}